---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";

export interface Props {
    displayDate?: Date;
    pageDescription?: string;
    pageImage?: string;
    pageTitle?: string;
}

const { displayDate, pageImage, pageTitle } = Astro.props;

const title = pageTitle ? `${pageTitle} | ${SITE_TITLE}` : SITE_TITLE;
const description = Astro.props.pageDescription ?? SITE_DESCRIPTION;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} image={pageImage} />
    </head>
    <body>
        <div class="site">
            <Header title={SITE_TITLE} />
            <main>
                <header>
                    {displayDate && <FormattedDate date={displayDate} />}
                    <h1>{pageTitle}</h1>
                </header>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style>
    header {
        text-align: center;
    }

    header h1 {
        margin-block-start: 0;
    }
</style>